<!DOCTYPE html>
<html>
    <head>
        <title>Choose Template</title>
    </head>
    <!-- Bootstrap CDN-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    <!-- import custome css-->
    <link href="{{ url_for('static', filename='css/modif.css') }}" rel="stylesheet">
    <style>
        body {
        background-color: #F4F4FE;
        }
        .cv {
        height: 556px;
        background-color: #C5C5D2;
        margin: 15px 0;
        }
        .cv-preview {
            width: 100%;
            height: auto;
            margin: 0;
            padding: 0;
        }
        .action {
        height: 240px;
        padding: 15px;
        background-color: #FFFFFF;
        }
        .breadcrum {
        height: 158px;
        background-color: #C4C4C4;
        }
    </style>
    <body>
        <!--Content-->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row">

                        {% for t in templates %}
                        <div class="radio col-4" data-value="{{t}}"><img class="cv-preview" src="{{ templates[t].preview }}"></div>
                        {% endfor %}


                    </div>
                </div>
            </div>
        </div>
        <div class="container fixed-bottom">
            <div class="row action p-5">
                <div class="col-6 m-auto">
                    <div>
                        <h5>Your CV ready to Download</h5>
                        <p>Lorem ipsum dolor sit amet, consectur adipiscing elit.</p>
                        <button type="button" class="btn btn-light text-uppercase font-weight-bolder" id="edit-cv">Back to input my data</button>
                        <button type="button" class="btn btn-primary text-uppercase font-weight-bolder" id="download-cv">Download to my CV</button>
                    </div>
                </div>
                <div class="col-6 m-auto">
                    <div class="mx-auto">
                        <img src="{{ url_for('static', filename='assets/1-2-x.png') }}" alt="multi-step" class="img-fluid multi-step-image">
                    </div>
                </div>
            </div>
        </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <!--additional script-->
        {% for e in js %}<script src="{{ url_for('static', filename='js/' + e) }}"></script>{% endfor %}
        <!--swalalert-->
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    </body>
</html>