<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Resume CV Design</title>
	<link rel="stylesheet" href="styles creative cv.css">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>
	<div class="wrapper">
		<div class="resume">
			<div class="left">
				<div class="img_holder">
					<img src="https://i.imgur.com/eCijVBe.png" alt="picture">
				</div>
				<div class="contact_wrap pb">
					<div class="title">
						Contact
					</div>
					<div class="contact">
						<ul>
							<li>
								<div class="li_wrap">
									<!-- <div class="icon"><i class="fas fa-mobile-alt" aria-hidden="true"></i></div> -->
									<div class="text">082219726859</div>
								</div>
							</li>
							<li>
								<div class="li_wrap">
									<!-- <div class="icon"><i class="fas fa-envelope" aria-hidden="true"></i></div> -->
									<div class="text">akmalikhsan02@gmail.com</div>
								</div>
							</li>
							<li>
								<div class="li_wrap">
									<!-- <div class="icon"><i class="fab fa-weebly" aria-hidden="true"></i></div> -->
									<div class="text">www.akmalikhsan.com</div>
								</div>
							</li>
							<li>
								<div class="li_wrap">
									<!-- <div class="icon"><i class="fas fa-map-signs" aria-hidden="true"></i></div> -->
									<div class="text">https://www.linkedin.com/in/akmal-ikhsan</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="skills_wrap pb">
					<div class="title">
						Skills
					</div>
					<div class="skills">
						<ul>
							<li>
								<div class="li_wrap">
									<!-- <div class="icon"><i class="fab fa-html5"></i></div> -->
									<div class="text">HTML</div>
								</div>
							</li>
							<li>
								<div class="li_wrap">
									<!-- <div class="icon"><i class="fab fa-css3-alt"></i></div> -->
									<div class="text">CSS</div>
								</div>
							</li>
							<li>
								<div class="li_wrap">
									<!-- <div class="icon"><i class="fab fa-js"></i></div> -->
									<div class="text">Javascript</div>
								</div>
							</li>
							<li>
								<div class="li_wrap">
									<!-- <div class="icon"><i class="fab fa-react"></i></div> -->
									<div class="text">React.JS</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="hobbies_wrap pb">
					<div class="title">
						LANGUAGE
					</div>
					<div class="hobbies">
						<ul>
							<li>
								<div class="li_wrap">
									<!-- <div class="icon"><i class="fas fa-book"></i></div> -->
									<div class="text">ENGLISH</div>
                                    <div class="text">C1(ADVANCED)</div>
								</div>
							</li>
							<li>
								<div class="li_wrap">
									<!-- <div class="icon"><i class="fas fa-music"></i></div> -->
									<div class="text">ARABIC</div>
                                    <div class="text">B1(BEGINNER)</div>
								</div>
							</li>
						</ul>
					</div>
                </div>

                <div class="hobbies_wrap pb">
					<div class="title">
						SOCIAL
					</div>
                    <div class="hobbies">
						<ul>
							<li>
								<div class="li_wrap">
									<!-- <div class="icon"><i class="fas fa-book"></i></div> -->
									<div class="text">Twitter</div>
                                    <div class="text"></div>
								</div>
							</li>
							<li>
								<div class="li_wrap">
									<!-- <div class="icon"><i class="fas fa-music"></i></div> -->
									<div class="text">Facebook</div>
                                    <div class="text"></div>
								</div>
							</li>
						</ul>
					</div>

				</div>
			</div>
			<div class="right">
				<div class="header">
					<div class="name_role">
						<div class="name">
							Akmal Ikhsan
						</div>
						<div class="role">
							Backend Developer
						</div>
					</div>
					<div class="about">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente dicta beatae optio, corporis fugit accusantium debitis laborum.
                    </div>
                    <div class="topN">
                    <span >akmalikhsan02@Twitter</span>
                    <span class="topR">akmalIkhsan@facebook</span>
                    </div>
                </div>
			

				<div class="right_inner">
					<div class="exp">
						<div class="title">
							experience
						</div>
						<div class="exp_wrap">
							<ul>
								<li>
									<div class="li_wrap">
										<div class="date">
											2018 
										</div>
										<div class="info">
											<p class="info_title">
												Samsan Tech
											</p>
											<p class="info_com">
												AI Programmer
											</p>
											<p class="info_cont">
												Bikin pendeteksi jarak jauh untuk tunanetra
										</div>
									</div>
								</li>
								<li>
									<div class="li_wrap">
										<div class="date">
											2017-2020
										</div>
										<div class="info">
											<p class="info_title">
												Proclub Studio
											</p>
											<p class="info_com">
												Backend Developer
											</p>
											<p class="info_cont">
												Bikin Web API make golang
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="li_wrap">
										<div class="date">
											2020 - 2021
										</div>
										<div class="info">
											<p class="info_title">
												GOOGLE
											</p>
											<p class="info_com">
												Backend Developer
											</p>
											<p class="info_cont">
                                                membuat robot buaya
											</p>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="education">
						<div class="title">
							Education
						</div>
						<div class="education_wrap">
							<ul>
								<li>
									<div class="li_wrap">
										<div class="date">
											2015 - 2018
										</div>
										<div class="info">
											<p class="info_title">
												Telkom University
											</p>
											<p class="info_com">
												Science Club
											</p>
											<p class="info_cont">
                                                Jurusan Teknik Mesin											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="li_wrap">
										<div class="date">
											2015 - 2018
										</div>
										<div class="info">
											<p class="info_title">
												Telkom University
											</p>
											<p class="info_com">
												Science Club
											</p>
											<p class="info_cont">
                                                Jurusan Teknik Mesin											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="li_wrap">
										<div class="date">
											2015 - 2018
										</div>
										<div class="info">
											<p class="info_title">
												Telkom University
											</p>
											<p class="info_com">
												Science Club
											</p>
											<p class="info_cont">
                                                Jurusan Teknik Mesin											</p>
										</div>
									</div>
								</li>
                                <li>
									<div class="li_wrap">
										<div class="date">
											2015 - 2018
										</div>
										<div class="info">
											<p class="info_title">
												Telkom University
											</p>
											<p class="info_com">
												Science Club
											</p>
											<p class="info_cont">
                                                Jurusan Teknik Mesin											</p>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>

                    <div class="right_inner">
                        <div class="exp">
                            <div class="title">
                                Achievement
                            </div>
                            <div class="exp_wrap">
                                <ul>
                                    <li>
                                        <div class="li_wrap">
                                            <div class="date">
                                                2000-09-03 
                                            </div>
                                            <div class="info">
                                                <p class="info_title">
                                                    SMK MAN 1 Bandung
                                                </p>
                                                <p class="info_com">
                                                    Olah raga pikiran yang biasanya diadakan melalui Internet
                                                </p>
                                                <p class="info_cont">
                                                    Juara 1 Comppetitive Programming
                                            </div>
                                        </div>
                                    </li>
                  
                                </ul>
                            </div>
                        </div>

                    <div class="education">
						<div class="title">
							REFERENCE
						</div>
						<div class="education_wrap">
							<ul>
								<li>
									<div class="li_wrap">
										<div class="date">
											
										</div>
										<div class="info">
											<p class="info_title">
												<p class="desc">Wikan Kuncara Jati (08126868686) </p>
											</p>
											<p class="info_com">
												<p class="desc">wikankun@gmail.com (Forstock)</p>
											</p>
						
										</div>
									</div>
								</li>
							
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>