<!DOCTYPE html>
<html>
<head>
 <title>Resume</title>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="CV_NF style.css">
</head>
<body>
 <div class="col-md-offset-2 col-md-8" style="background: #E4E5E9" id="wrapper">
  <div id="header">
   <div>
    <img src="https://i.imgur.com/eCijVBe.png" id="image">
   </div>
   <div>
    <h2 id="name">Akmal Ikhsan</h2>
    <p id="underline"></p>
    <h5 id="web">Web Developer</h5>
      <div class="topN">
      <span>0823-4543-212</span>
      <span id="space">akmalikhsan02@gmail.com</a></span>
      <span id="space">https://www.linkedin.com/in/akmal-ikhsan</a></span>
    </div>
   </div>
  </div><!--  end header -->
  <div class="row">
   <div class="col-md-12">
    <h4 id="exp">ABOUT ME</h4>
    <div>
     <div class="info2">
      <div>
      <!--  <h4 id="ent">Enterprise</h4> -->
       <p id="space">Experience is the knowledge or mastery of an event or subject gained through involvement in or exposure to it. Terms in philosophy such as "empirical knowledge" or "a posteriori knowledge" are used to refer to knowledge based on experience.</p>
      </div>
     </div> <!-- end section 1 -->
     <div class="row">
   <div class="col-md-12">
    <h4 id="exp">EXPERIENCE</h4>
    <div id="experience">
     <div id="exp1">
      <div>
       <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 438.536 438.536" style="enable-background:new 0 0 438.536 438.536;"
       xml:space="preserve">
       <path d="M433.113,5.424C429.496,1.807,425.215,0,420.267,0H18.276C13.324,0,9.041,1.807,5.425,5.424
       C1.808,9.04,0.001,13.322,0.001,18.271v401.991c0,4.948,1.807,9.233,5.424,12.847c3.619,3.614,7.902,5.428,12.851,5.428h401.991
       c4.948,0,9.229-1.813,12.847-5.428c3.614-3.613,5.421-7.898,5.421-12.847V18.271C438.534,13.319,436.73,9.04,433.113,5.424z"/>
      </div>
      <div>
       <span id="head">Samsan Tech</span>
       <p>2012-2015</p>
      </div>
      <div id="ent">
       <h4>AI Programmer</h4>
       <p >Bikin pendeteksi jarak untuk tunanetra</p>
      </div>
     </div> <!-- end section 1 -->
     <div id="exp1">
      <div>
       <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 438.536 438.536" style="enable-background:new 0 0 438.536 438.536;"
       xml:space="preserve">
       <path d="M433.113,5.424C429.496,1.807,425.215,0,420.267,0H18.276C13.324,0,9.041,1.807,5.425,5.424
       C1.808,9.04,0.001,13.322,0.001,18.271v401.991c0,4.948,1.807,9.233,5.424,12.847c3.619,3.614,7.902,5.428,12.851,5.428h401.991
       c4.948,0,9.229-1.813,12.847-5.428c3.614-3.613,5.421-7.898,5.421-12.847V18.271C438.534,13.319,436.73,9.04,433.113,5.424z"/>
      </div>
      <div>
       <span id="head">Proclub Studio</span>
       <p>2017-2020</p>
      </div>
      <div id="ent">
       <h4>Backend Developer</h4>
       <p >Bikin Web API make golang</p>
      </div>
     </div> <!-- end section 1 -->
    </div>
   </div>
  </div> <!-- end row 1 -->

   <div class="row">
   <div class="col-md-12">
    <h4 id="exp">EDUCATION</h4>
    <div id="education">
     <div id="exp1">
      <div>
       <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 438.536 438.536" style="enable-background:new 0 0 438.536 438.536;"
       xml:space="preserve">
       <path d="M433.113,5.424C429.496,1.807,425.215,0,420.267,0H18.276C13.324,0,9.041,1.807,5.425,5.424
       C1.808,9.04,0.001,13.322,0.001,18.271v401.991c0,4.948,1.807,9.233,5.424,12.847c3.619,3.614,7.902,5.428,12.851,5.428h401.991
       c4.948,0,9.229-1.813,12.847-5.428c3.614-3.613,5.421-7.898,5.421-12.847V18.271C438.534,13.319,436.73,9.04,433.113,5.424z"/>
      </div>
      <div>
       <span id="head">MAN 1 BANDUNG</span>
       <p>2012-2015</p>
      </div>
      <div id="ent">
       <h4>SMK</h4>
       <p >Jurusan Teknik Mesin</p>
      </div>
     </div> <!-- end section 1 -->
     <div id="exp1">
      <div>
       <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 438.536 438.536" style="enable-background:new 0 0 438.536 438.536;"
       xml:space="preserve">
       <path d="M433.113,5.424C429.496,1.807,425.215,0,420.267,0H18.276C13.324,0,9.041,1.807,5.425,5.424
       C1.808,9.04,0.001,13.322,0.001,18.271v401.991c0,4.948,1.807,9.233,5.424,12.847c3.619,3.614,7.902,5.428,12.851,5.428h401.991
       c4.948,0,9.229-1.813,12.847-5.428c3.614-3.613,5.421-7.898,5.421-12.847V18.271C438.534,13.319,436.73,9.04,433.113,5.424z"/>
      </div>
      <div>
       <span id="head">Telkom university</span>
       <p>2016-2020</p>
      </div>
      <div id="ent">
       <h4>S1</h4>
       <p >Informatika, jurusan Teknik Informatika</p>
      </div>
     </div> <!-- end section 1 -->
    </div>
   </div>
  </div> <!-- end row 1 -->

  <div class="row">
   <div class="col-md-12">
    <h4 id="exp">REFERENCE</h4>
    <div id="education">
     <div id="exp1">
      <div>
       <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 438.536 438.536" style="enable-background:new 0 0 438.536 438.536;"
       xml:space="preserve">
       <path d="M433.113,5.424C429.496,1.807,425.215,0,420.267,0H18.276C13.324,0,9.041,1.807,5.425,5.424
       C1.808,9.04,0.001,13.322,0.001,18.271v401.991c0,4.948,1.807,9.233,5.424,12.847c3.619,3.614,7.902,5.428,12.851,5.428h401.991
       c4.948,0,9.229-1.813,12.847-5.428c3.614-3.613,5.421-7.898,5.421-12.847V18.271C438.534,13.319,436.73,9.04,433.113,5.424z"/>
      </div>
      <div>
       <span id="head">SMK MAN 1 Bandung</span>
       <p>2013-09-03</p>
      </div>
      <div id="ent">
       <h4 >Juara 1 Comppetitive Programming</h4>
       <p >Olah raga pikiran yang biasanya diadakan melalui Internet</p>
      </div>
     </div> <!-- end section 1 -->
    </div>
   </div>
  </div> <!-- end row 1 -->

  <div class="row">
   <div class="col-md-5">
    <h4 id="contacts">LANGUAGE</h4>

    <div class="topM">
     <span id="space">English (C1 Advanced)</span>
    </div>
    <div class="topM">
       <span id="space"> Arabic (B1 Intermediate)</span>
    </div>
   </div>
   <div class="col-md-7">
    <h4 id="skills">REFERENCE</h4>
    <div>
             <div class="info">
                 <!-- <p class="semi-bold">Nama dan No HP</p>  -->
                      <p>Wikan Kuncara Jati (08126868686) </p>
                  <!-- <p class="semi-bold">Email dan Intansi</p>  -->
                      <p>wikankun@gmail.com (Forstock)</p>
                 
                </div> 
    </div>
   </div>
     <!--  <div class="col-md-5">
    <h4 id="skills">SKILLS</h4>
    <div class="skills">
     <div>
      <div id="ui">
       <p>UI/UX</p>
          <div id="progress-bar">
           <div id="progress"></div>
          </div>
      </div>
      <div id="ui">
       <p>UI/UX</p>
          <div id="progress-bar">
           <div id="progress"></div>
          </div>
      </div>
      <div id="ui">
       <p>UI/UX</p>
          <div id="progress-bar">
           <div id="progress"></div>
          </div>
      </div>
     </div>
    </div> -->
   </div>
 </div>
  <div class="row">
   <div class="col-md-5">
    <h4 id="contacts">SOCIAL</h4>
    <div class="topM">
      <span id="space"><a href="#">akmalIkhsan@facebook</a></span>
    </div>
    <div class="topM">
     <span id="space"><a href="#">akmalikhsan02@Twitter</a></span>
    </div>
   </div>
   <div class="col-md-7">
    <h4 id="skills">SKILLS</h4>
<div class="skills">
     <div>
      <div id="ui">
       <p>UI/UX</p>
      </div>
      <div id="ui">
       <p>PHP</p>
      </div>
     </div>
     <div>
      <div id="ui">
       <p>Cloud Security</p>
      </div>
      <div id="ui">
       <p>Java</p>
      </div>
     </div>
    </div>
   </div>
</body>
</html>
