<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CV Generation</title>
  <link rel="stylesheet" href="assets/css/style.css">
  <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>

<div id="resume" class="resume">
   <div class="resume_left">
     <div class="resume_profile">
       <img src="https://storage.googleapis.com/cv-generator-e29dd.appspot.com/upload/FFTA-MU1D-C92J.png" alt="profile_pic">
     </div>
     <div class="resume_content">
       <div class="resume_item resume_info">
         <div class="title">
           <p class="bold">Muhammad Abdurrohman Al Fatih</p>
           <p class="regular">Backend Dev</p>
         </div>
         
       </div>
       <div class="resume_item resume_skills">
         <div class="title">
           <p class="bold">skill's</p>
         </div>
         <ul>
           <li>
             <div class="skill_name">
               HTML
             </div>
             <div class="skill_progress">
               <span style="width: 80%;"></span>
             </div>
             <div class="skill_per">80%</div>
           </li>
           <li>
             <div class="skill_name">
               CSS
             </div>
             <div class="skill_progress">
               <span style="width: 70%;"></span>
             </div>
             <div class="skill_per">70%</div>
           </li>
           <li>
             <div class="skill_name">
               SASS
             </div>
             <div class="skill_progress">
               <span style="width: 90%;"></span>
             </div>
             <div class="skill_per">90%</div>
           </li>
           <li>
             <div class="skill_name">
               JS
             </div>
             <div class="skill_progress">
               <span style="width: 60%;"></span>
             </div>
             <div class="skill_per">60%</div>
           </li>
           <li>
             <div class="skill_name">
               JQUERY
             </div>
             <div class="skill_progress">
               <span style="width: 88%;"></span>
             </div>
             <div class="skill_per">88%</div>
           </li>
         </ul>
       </div>
       <div class="resume_item resume_social">
         <div class="title">
           <p class="bold">Social</p>
         </div>
         
       </div>
     </div>
  </div>
  <div class="resume_right">
    <div class="resume_item resume_about">
        <div class="title">
           <p class="bold">About Me</p>
         </div>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis illo fugit officiis distinctio culpa officia totam atque exercitationem inventore repudiandae?</p>
    </div>
    <div class="resume_item resume_work">
        <div class="title">
           <p class="bold">Work Experience</p>
         </div>
        <ul>
            
            <li>
                <div class="date">2021-04-14 - 2021-07-18</div> 
                <div class="info">
                     <p class="semi-bold">Backend Dev</p> 
                  <p>Bikin Web API make golang</p>
                </div>
            </li>
            
        </ul>
    </div>
    <div class="resume_item resume_education">
      <div class="title">
        <p class="bold">Education</p>
      </div>
      <ul>
        
        <li>
            <div class="date">2018-09-03 - 2022-09-03</div> 
            <div class="info">
              <p class="semi-bold">Telkom University</p> 
              <p>S1 Informatika, jurusannya wibu</p>
            </div>
        </li>
        
      </ul>
    </div>
    <div class="resume_item resume_Achievement">
      <div class="title">
           <p class="bold">Achievement</p>
         </div>
       <ul>
         
         <li>
                <div class="date">2000-09-03</div> 
                <div class="info">
                     <p class="semi-bold">Juara 1 Beban Keluarga</p> 
                  <p>Kerjaannya makan main tidur teroos tiap hari</p>
                </div>
            </li>
        
      </ul>
    </div>
  </div>
</div>
</body>
</html>